/**
 * Hello Module styles.
 *
 * @package LeadersPath
 * @since 0.1.0
 */

.leaderspath-hello {
  &__content {
    padding: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__message {
    line-height: 1.6;
  }
}
